 /* Custom properties/variables  */
 :root {
   --main-white: #f0f0f0;
   --main-red: #be3144;
   --main-blue: #45567d;
   --main-gray: #303841;
 }

 /* Base reset */
 * {
   margin: 0;
   padding: 0;
 }

 /* box-sizing and font sizing */
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }

 html {
   box-sizing: border-box;
   font-size: 62.5%;
   scroll-behavior: smooth;
 }

 @media (max-width: 75em) {
   html {
     font-size: 60%;
   }
 }

 @media (max-width: 61.25em) {
   html {
     font-size: 58%;
   }
 }

 @media (max-width: 28.75em) {
   html {
     font-size: 50%;
   }
 }

 /* Base styles */

 body {
   font-family: 'Poppins', sans-serif;
   font-size: 1.8rem;
   /* 18px */
   font-weight: 400;
   line-height: 1.4;
   color: var(--main-white);
   background: var(--main-blue);
 }

 h1,
 h2 {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   text-align: center;
 }

 h1 {
   font-size: 6rem;
 }

 h2 {
   font-size: 4.2rem;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
   color: var(--main-white);
 }

 img {
   display: block;
   width: 100%;
 }

 /* nav */

 .logo {
   padding-right: 100px;
 }

 .nav-list {
   padding-left: 70px;
 }

 .nav-list a:hover {
   background: var(--main-blue);
 }

 /* nav end */

 /* Welcome section */

 .welcome-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   background-color: #000;
   background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
 }

 .left {
   width: 50%;
   float: left;
   text-align: center;
   padding: 200px 0px 50px;
 }

 .left h1 {
   padding-top: 100px;
   font: 5em 'Montserrat';
   font-weight: 500;
   color: white;
 }

 .left h2 {
   padding-top: 30px;
   font-family: 'Esteban';
   font-weight: 500;
   color: white;
   font-size: 3rem;
 }

 #date {
   color: var(--main-red);
 }

 .timer {
   display: inline-block;
   font-size: 1em;
   list-style-type: none;
   padding: 1em;
   text-transform: uppercase;
 }

 .timer span {
   display: block;
   font-size: 4.5rem;
 }

 #register {
   font-size: 2rem;
 }

 #demo {
   font-family: 'Esteban';
   font-size: 4rem;
 }

 .right {
   width: 50%;
   float: right;
   text-align: center;
 }

 .right img {
   width: 100%;
   height: auto;
 }

 /* About section */

 .about-section {
   text-align: center;
   padding: 10rem 2rem;
   background: var(--main-blue);
   height: 100%;
 }

 .about-section-header {
   max-width: 640px;
   margin: 0 auto 6rem auto;
   /* border-bottom: 0.2rem solid var(--main-white); */
 }

 .about-left {
   width: 30%;
   float: left;
   text-align: center;
 }

 .about-right {
   width: 70%;
   float: right;
   text-align: center;
   padding-bottom: 6rem;
 }

 .about-left>img {
   width: auto;
   border-radius: 50%;
   padding: 50px;
   /* margin-left: 150px; */
 }

 @media (max-width: 28.75em) {
   .welcome-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     background-color: #000;
     background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
   }

   .about-section-header {
     font-size: 4rem;
   }

   .gif {
     width: 100%;
     padding-top: 7rem;
   }
 }

 /* THEME */

 .theme-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 100%;
   padding: 10rem 2rem;
   background: #e3edf7;
 }

 .theme-section-header>h2 {
   font-size: 6rem;
   padding-top: 10rem;
 }

 .theme-section-heading {
   color: black;
   padding-bottom: 3rem;
 }

 #theme-info{
  color: black;
  font-size: 20px;
 }

 .carousel,
 .item,
 .active {
   width: 100%;
   height: 70%;
 }

 .carousel {
   width: 60% !important;
 }

 .carousel-inner {
   width: 100%;
   height: 70%;
 }

 @media (max-width: 28.75em) {
   .theme-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 100%;
     height: 100%;
     padding: 10rem 2rem;
     background: var(--main-blue);
   }

   .theme-section-header>h2 {
     font-size: 4rem;
   }

   .theme-section-heading {
     margin-bottom: 3rem;
   }
 }

 /* TIMELINE SECTION */
 .timeline-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   /* height: 80vh; */
   padding: 10rem 2rem;
   background: var(--main-gray);
 }

 .time {
   width: 300px;
   margin: auto;
   /*  */
 }

 .time h2 {
   color: #a6ff00;
   font-family: 'Merriweather', serif;
   font-size: 4rem;
 }

 .time p {
   color: aqua;
   border-top: 2px dashed;
   border-color: blue !important;
   margin: 0;
   padding: 30px;
   font-size: 2rem;
 }

 .time span {
   color: rgb(141, 223, 34);
   font-size: 2rem;
 }

 .time p:nth-child(even) {
   border-left: 2px dashed;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   margin-right: 30px;
   padding-right: 0;
 }

 .time p:nth-child(odd) {
   border-right: 2px dashed;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   margin-left: 30px;
   padding-left: 0;
 }

 .time p:first-child {
   border-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
 }

 .time p:last-child {
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
 }

 /* Sponsor section */

 .sponsors-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   padding: 10rem 2rem;
   background: var(--main-blue);
 }

 /* FAQ Section */

 .faq-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 80vh; */
  padding: 10rem 2rem;
  background: var(--main-gray);
}

.question{
  padding-top: 10px;
  font-size:22px;
  font-weight: bold;
}


.panel-heading [data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  float: right;
  color: #F58723;
  font-size: 22px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #454444;
}

 /* Contact section */

 .contact-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 100%;
   padding: 0 2rem;
   background: #e3edf7;
 }

 .contact-section-header>h2 {
   padding-top: 2rem;
   font-size: 6rem;
   color: var(--main-gray);
 }

 @media (max-width: 28.75em) {
   .contact-section-header>h2 {
     font-size: 4rem;
   }

 }

 .contact-web {
   font-family: sans-serif;
   font-weight: normal;
   font-size: 2rem;
   letter-spacing: 0.5rem;
   color: #555;
   text-align: center;
 }

 .name-contact {
   font-weight: 600;
 }

 .num {
   color: #555;
 }

 .num:hover {
   color: #4fce5d;
 }

 .query {
   padding-top: 1.5rem;
   padding-bottom: 2.5rem;
 }

 .Social-media {
   display: flex;
   justify-content: center;
   padding-bottom: 30px;
 }

 .a {
   display: flex;
   background: #e3edf7;
   height: 45px;
   width: 45px;
   margin: 0 15px;
   border-radius: 8px;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
     -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
   border: 1px solid rgba(0, 0, 0, 0);
   transition: transform 0.5s;
 }

 .hide {
   display: none !important;
 }

 .i {
   font-size: 2rem;
   color: #777;
   transition: transform 0.5s;
 }

 .a:hover {
   box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
     inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
     -0.5px -0.5px 0px -1px rgba(255, 255, 255, 1),
     0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
   border: 1px solid rgba(255, 0, 0, 0.1);
   transform: translateY(2px);
 }

 .a:hover i {
   transform: scale(0.9);
 }

 .a .fa-facebook {
   color: #3b5998;
 }

 .a .fa-whatsapp {
   color: #4fce5d;
 }

 .a .fa-instagram {
   color: #f14843;
 }

 .a .fa-envelope {
   color: #f00;
 }

 @media screen and (max-width:480px) {
   /* .fixed-top {
     position: absolute;
   } */

   .main {
     display: flex;
     flex-direction: column-reverse;
     margin: 0 auto;
   }

   .row{
     margin-right: 0 !important;
   }

   .left {
     width: 100%;
     margin: 0;
     padding-top: 0;
   }

   .left h1 {
     padding: 0;
   }

   .right {
     margin: 0 auto;
   }

   .about-left {
     margin: auto;
     width: 90%;
     float: none;
   }

   .about-left img {
     width: 100%;
   }

   .about-right {
     width: 100%;
   }

   .carousel {
     width: 100% !important;
   }

   .sponsors-section {
     flex-direction: column;
   }

   .container {
     display: contents
   }

   .card {
     margin-right: 0 !important;
     width: 50% !important;
     margin-bottom: 15%;
   }


   .sponsors-section {
     padding-bottom: 2rem;
   }
 }


 /* THEMES MOBILE */
 CSS Pretty Print #gallery img {
   height: 75vw;
   object-fit: cover;
 }

 @media (min-width: 576px) {
   #gallery img {
     height: 35vw;
   }
 }

 @media (min-width: 992px) {
   #gallery img {
     height: 18vw;
   }
 }

 .carousel-item img {
   height: 60vw;
   object-fit: cover;
 }

 .image-mob {
   padding-bottom: 2rem;
 }

 @media (min-width: 576px) {
   .carousel-item img {
     height: 100%;
   }
 }

 * {
   transition: 0.3s;
 }

 #gallery.custom {
   padding: 0 15px;
 }

 #gallery.custom img {
   display: block;
   margin: 15px 0;
   border-radius: 300px 30px 300px 300px;
 }

 #gallery.custom img:hover {
   border-radius: 30px 90px 30px 30px;
 }

 #exampleModal.custom .modal-content {
   background: none;
   border: none;
 }

 #exampleModal.custom .modal-header {
   border: none;
 }

 #exampleModal.custom .modal-header button {
   background: none;
   border-radius: 100px 100px 0 0;
   padding: 5px 10px;
   opacity: 1;
   position: relative;
   top: 3px;
   border: solid 2px white;
 }

 @media (min-width: 992px) {
   #exampleModal.custom .modal-header button {
     top: 15px;
   }
 }

 #exampleModal.custom .modal-header button:hover {
   top: 3px;
 }

 #exampleModal.custom .modal-header span {
   color: white;
 }

 #exampleModal.custom .modal-body {
   padding: 0;
   border: none;
   position: relative;
 }

 #exampleModal.custom .modal-body::before,
 #exampleModal.custom .modal-body::after {
   content: '';
   height: 50px;
   width: 50px;
   display: block;
   position: absolute;
   background: white;
   border-radius: 3px 10px;
 }

 @media (min-width: 768px) {

   #exampleModal.custom .modal-body::before,
   #exampleModal.custom .modal-body::after {
     border-radius: 3px 30px;
     height: 100px;
     width: 100px;
   }
 }

 #exampleModal.custom .modal-body::before {
   top: -5px;
   left: -5px;
 }

 @media (min-width: 768px) {
   #exampleModal.custom .modal-body::before {
     top: -15px;
     left: -15px;
   }
 }

 #exampleModal.custom .modal-body::after {
   bottom: -5px;
   right: -5px;
   z-index: -1;
 }

 @media (min-width: 768px) {
   #exampleModal.custom .modal-body::after {
     bottom: -15px;
     right: -15px;
   }
 }

 #exampleModal.custom .modal-footer {
   border: none;
   margin-top: 60px;
 }

 @media (min-width: 992px) {
   #exampleModal.custom .modal-footer {
     margin-top: 40px;
   }
 }

 #exampleModal.custom .modal-footer .btn {
   margin: auto;
   border: solid 2px white;
   background: none;
   text-transform: uppercase;
   font-size: 0.8em;
   letter-spacing: 0.1em;
   font-weight: bold;
   padding: 0.2em 0.7em;
 }

 #exampleModal.custom .modal-footer .btn:hover {
   background: white;
   color: black;
 }

 #exampleModal.custom .carousel-control-prev,
 #exampleModal.custom .carousel-control-next {
   font-size: 2em;
   top: auto;
   opacity: 1;
   bottom: -52px;
 }

 @media (min-width: 768px) {

   #exampleModal.custom .carousel-control-prev,
   #exampleModal.custom .carousel-control-next {
     top: 0;
     opacity: 0.5;
     bottom: 0;
   }
 }

 #exampleModal.custom .carousel-control-next-icon,
 #exampleModal.custom .carousel-control-prev-icon {
   height: 30px;
   width: 30px;
 }

 @media (min-width: 768px) {
   #exampleModal.custom .carousel-control-prev {
     left: -90px;
   }
 }

 @media (min-width: 768px) {
   #exampleModal.custom .carousel-control-next {
     right: -90px;
   }
 }

 #exampleModal.custom .carousel-indicators {
   bottom: -60px;
 }

 @media (min-width: 992px) {
   #exampleModal.custom .carousel-indicators {
     bottom: -30px;
   }
 }

 #exampleModal.custom .carousel-indicators li {
   height: 30px;
   border-radius: 100px;
   background: none;
   border: solid 2px white;
 }

 @media (min-width: 992px) {
   #exampleModal.custom .carousel-indicators li {
     height: 10px;
   }
 }

 #exampleModal.custom .carousel-indicators li:hover {
   background: white;
 }

 #exampleModal.custom .carousel-indicators li.active {
   background: white;
 }

 .popup {
   color: black;
   width: 100%;
 }

 .popups {
   color: black;
   font-weight: 500;
   font-size: 3rem;
   width: 100%;
 }


 @media (min-width: 576px) {
   .switch-wrap {
     position: fixed;
     bottom: 0;
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     width: 100%;
     justify-content: center;
     padding: 10px;
   }
 }

 .switch-text {
   display: block;
   margin: 0.5em;
 }

 @media (min-width: 576px) {
   .switch-text {
     margin: 0 1em 0 0;
   }
 }


 /* THEMES MOBILE */